In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
excelFile = 'Cubing Data.xlsx'
solutions = pd.read_excel(excelFile)

In [4]:
date = solutions[['Solution Date & Time']]
solve = solutions[['Time Elapsed (seconds)']]
ao5 = solutions[['Current Ao5']]
ao12 = solutions[['Current Ao12']]
ao100 = solutions[['Current Ao100']]

In [7]:
del solutions['Scramble']
solutions.head()

,Solution Date & Time,Time Elapsed (seconds),Current Ao5,Current Ao12,Current Ao100
0,2016-12-11 23:37:26.668,36.09,NaN,NaN,NaN
1,2016-12-12 20:31:04.427,43.34,NaN,NaN,NaN
2,2016-12-12 20:32:42.897,39.35,NaN,NaN,NaN
3,2016-12-12 20:33:49.787,24.15,NaN,NaN,NaN
4,2016-12-12 20:36:01.033,37.23,37.56,NaN,NaN

In [8]:
splits = [0,15,20,25,30,45,60]

In [9]:
splitNames = ['Sub-15', 'Sub-20', 'Sub-25', 'Sub-30', 'Sub-45', 'Sub-60']

In [10]:
solutions['Single Splits'] = pd.cut(solutions['Time Elapsed (seconds)'], splits, right = False, labels=splitNames)
solutions.head(50)

,Solution Date & Time,Time Elapsed (seconds),Current Ao5,Current Ao12,Current Ao100,Single Splits
0,2016-12-11 23:37:26.668,36.09,NaN,NaN,NaN,Sub-45
1,2016-12-12 20:31:04.427,43.34,NaN,NaN,NaN,Sub-45
2,2016-12-12 20:32:42.897,39.35,NaN,NaN,NaN,Sub-45
3,2016-12-12 20:33:49.787,24.15,NaN,NaN,NaN,Sub-25
4,2016-12-12 20:36:01.033,37.23,37.56,NaN,NaN,Sub-45
5,2016-12-12 20:39:05.646,30.84,35.81,NaN,NaN,Sub-45
6,2016-12-12 20:40:00.791,31.60,33.22,NaN,NaN,Sub-45
7,2016-12-12 20:40:55.530,33.53,31.99,NaN,NaN,Sub-45
8,2016-12-12 20:41:54.451,33.06,32.73,NaN,NaN,Sub-45
9,2016-12-12 20:42:50.858,35.92,32.73,NaN,NaN,Sub-45
10,2016-12-12 20:43:51.267,35.12,33.90,NaN,NaN,Sub-45
11,2016-12-12 20:44:50.263,43.08,34.86,35.58,NaN,Sub-45
12,2016-12-12 20:45:56.852,31.73,34.70,35.15,NaN,Sub-45
13,2016-12-12 20:46:56.841,22.48,34.26,33.25,NaN,Sub-25
14,2016-12-12 20:54:17.855,42.47,36.44,33.57,NaN,Sub-45
15,2016-12-12 20:55:25.283,29.98,34.73,34.15,NaN,Sub-30
16,2016-12-12 20:56:30.679,42.45,34.72,34.67,NaN,Sub-45
17,2016-12-12 20:57:47.409,26.83,33.09,34.27,NaN,Sub-30
18,2016-12-12 21:03:59.418,35.13,35.85,34.62,NaN,Sub-45
19,2016-12-12 21:06:12.667,33.25,32.79,34.59,NaN,Sub-45
20,2016-12-12 21:07:07.999,39.59,35.99,35.25,NaN,Sub-45
21,2016-12-12 21:08:09.746,41.51,35.99,35.81,NaN,Sub-45
22,2016-12-12 21:09:17.807,44.10,38.74,36.60,NaN,Sub-45
23,2016-12-12 21:10:32.029,36.16,39.09,35.91,NaN,Sub-45
24,2016-12-12 21:12:27.181,30.11,39.09,35.75,NaN,Sub-45
25,2016-12-12 21:13:25.366,33.26,36.98,36.39,NaN,Sub-45
26,2016-12-12 21:17:11.206,31.66,33.69,35.31,NaN,Sub-45
27,2016-12-12 21:18:52.648,44.61,33.69,36.72,NaN,Sub-45
28,2016-12-12 21:21:29.092,34.85,33.26,35.96,NaN,Sub-45
29,2016-12-12 21:24:23.664,33.09,33.73,36.26,NaN,Sub-45
30,2016-12-12 21:25:38.971,33.08,33.67,36.06,NaN,Sub-45
31,2016-12-12 21:26:33.346,36.36,34.77,36.37,NaN,Sub-45
32,2016-12-12 21:28:05.629,30.56,33.67,35.46,NaN,Sub-45
33,2016-12-12 21:29:39.041,46.04,34.18,35.77,NaN,Sub-60
34,2016-12-12 21:30:48.997,34.64,34.69,34.83,NaN,Sub-45
35,2016-12-12 21:31:46.329,36.47,35.82,34.86,NaN,Sub-45
36,2016-12-13 22:04:45.634,40.33,37.15,35.84,NaN,Sub-45
37,2016-12-13 22:05:45.532,34.91,37.24,36.00,NaN,Sub-45
38,2016-12-13 22:54:49.897,40.04,37.14,36.84,NaN,Sub-45
39,2016-12-13 22:55:54.699,42.83,38.95,36.66,NaN,Sub-45
40,2016-12-13 22:57:02.018,34.20,38.43,36.60,NaN,Sub-45
41,2016-12-13 22:58:02.554,30.83,36.38,36.37,NaN,Sub-45
42,2016-12-13 23:01:53.361,30.77,35.02,36.14,NaN,Sub-45
43,2016-12-13 23:02:49.978,36.81,33.95,36.18,NaN,Sub-45
44,2016-12-13 23:03:50.936,42.40,33.95,37.35,NaN,Sub-45
45,2016-12-13 23:09:36.721,33.09,33.58,36.37,NaN,Sub-45
46,2016-12-13 23:10:37.302,33.40,34.43,36.25,NaN,Sub-45
47,2016-12-13 23:11:33.144,30.07,34.43,35.68,NaN,Sub-45
48,2016-12-13 23:12:29.097,39.05,35.18,35.55,NaN,Sub-45
49,2016-12-13 23:13:27.553,33.83,33.44,35.44,NaN,Sub-45